* {
  box-sizing: border-box;
}

/* .hp-body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #cccccc;
} */

.hp-body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.hp-full-wrap {
  width: 100vw;
  height: 56.25vw;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp-full-wrap--blue {
  width: 100vw;
  height: 56.25vw;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  background-color: blue;
}

.hp-backgroundimage {
  background-color: rgba(0,0,0,.55);
  background-blend-mode: multiply;
}

.hp-image--large {
  width: 100vw;
  mix-blend-mode: multiply;
}
.hp-foregroundimage {
  position: absolute;
  }

.hp-image--small {
  width: 33vw;
  filter: blur(10px);
    /* -moz-filter: blur(30px);
    -webkit-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px); */
  /* mix-blend-mode: multiply; */
}
.hp-image--small:hover {
  filter: blur(0px);
}
.hp-yellow {
  background-color: #ffcc00;
  width: 100vw;
  height: 56.25vw;
  position: absolute;
  animation: yellowlayer 1s forwards;
  animation-delay: 2s;
}

@keyframes yellowlayer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text {
  position: absolute;
  animation: textlayer 1s both;
  animation-delay: 2.5s;
}

@keyframes textlayer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  color: blue;
  font-size: 100pt;
}
